* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    border: 1px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
}

nav {
    border: 2px solid black;
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 10px;
    margin-left: 10px;
    width: 350px;
    height: 75px;
}

nav ul {
    display: flex;
}

nav li {
    display: flex;
    list-style-type: none;
    flex: 25%;
    justify-content: space-evenly;
}

nav a {
    border: 2px solid aqua;
    text-decoration: none;
    padding: 25px;
    font-size: 1.1em;
}

nav a:hover {
    color: rgb(227, 47, 47);
}

main {
    border: 2px solid black;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: -70px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#main-p {
    background-color: rgb(227, 47, 47);
    color: white;
    padding: 8px;
    margin-top: 2px;
    border-radius: 10px;
    font-size: 1.1em;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    border: 2px solid black;
    grid-column: 1/3;
    grid-row: 3/4;
    margin-top: 200px;
    max-height: 50px;
}

#footer-email {
    color: white;
}

.footer-logos {
    height: 40px;
    width: 40px;
    margin-top: 4px;
}